In [1]:
import pandas as pd

In [17]:
df = pd.read_csv("./중고차데이터최종v7.csv", encoding="cp949")

In [18]:
df

,Unnamed: 0,index,이름,제조회사,모델명,세부모델,가격,배기량,연식,색상,...,감가상각률,감가상각액(1년),2023년(예상),2024년(예상),2025년(예상),2026년(예상),2027년(예상),2028년(예상),2029년(예상),2030년(예상)
0,0,0,쌍용 티볼리 LX 2WD 세부등급 없음,쌍용,티볼리,티볼리,1360,1597,2017,진주색,...,7.9,162,1198,1036,874,712,550,388,226,64
1,1,1,기아 올 뉴 모닝 럭셔리,기아,모닝,올 뉴 모닝 (11~15년),670,998,2012,진주색,...,6.8,88,582,494,406,318,230,142,54,0
2,2,2,쉐보레(GM대우) 알페온 EL300 슈프림,쉐보레,알페온,알페온,900,2997,2012,은색,...,8.3,299,601,302,3,0,0,0,0,0
3,3,3,쌍용 렉스턴 스포츠 디젤 2.2 4WD 노블레스,쌍용,렉스턴,렉스턴 스포츠 칸,2420,2157,2019,쥐색,...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,4,4,쉐보레(GM대우) 더 뉴 말리부 1.3 터보 프리미어 세부등급없음,쉐보레,말리부,더 뉴 말리부,2240,1341,2021,검정색,...,10.8,340,1900,1560,1220,880,540,200,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14552,14552,14552,아우디 S4,아우디,S4,S4,1330,2995,2011,0색,...,7.3,584,746,162,0,0,0,0,0,0
14553,14553,14553,기아 스포티지R,기아,스포티지,스포티지R (10~13년),800,1995,2011,검정색,...,8.5,213,587,374,161,0,0,0,0,0
14554,14554,14554,폭스바겐 티구안(1세대),폭스바겐,티구안,티구안 1세대,1030,2000,2014,흰색,...,9.2,395,635,240,0,0,0,0,0,0
14555,14555,14555,제네시스 EQ900,제네시스,제네시스,EQ900,3390,5038,2016,검정색,...,13.6,1224,2166,942,0,0,0,0,0,0
14556,14556,14556,현대 에쿠스(신형),현대,에쿠스,뉴 에쿠스,1680,3778,2015,검정색,...,8.7,696,984,288,0,0,0,0,0,0

In [19]:
df_model = df.groupby(['모델명','세부모델']).mean()

In [20]:
df_model1 = df_model.drop(['Unnamed: 0','index','압류/저당','사고유무','전손이력'], axis=1)

In [21]:
df_model2 = df_model1.drop(['배기량','연식','주행거리'], axis=1)

In [23]:
df_model2

                                   가격     신차가격  감가상각률  감가상각액(1년)  \
모델명   세부모델
124   124                 3580.000000   3100.0   -1.0       -1.0
1시리즈  1시리즈 2세대 (12~19년)   1538.041667   4370.0    9.7      424.0
      1시리즈 3세대 (20년~현재)   3786.000000   4200.0    9.7      407.0
200   300C 2세대            1030.000000   5770.0   11.7      675.0
2008  2008                1003.923077   3113.0   11.4      355.0
...                               ...      ...    ...        ...
프리우스  프리우스                1375.000000   3712.0    8.1      301.0
      프리우스 4세대            2347.500000   3600.0    8.1      292.0
플라잉스퍼 플라잉스퍼 1세대           4650.000000  29000.0    7.7     2233.0
      플라잉스퍼 2세대          12150.000000  26500.0    7.7     2041.0
휘가로   휘가로                 2500.000000   4000.0    1.2       48.0

                            2023년(예상)    2024년(예상)    2025년(예상)    2026년(예상)  \
모델명   세부모델
124   124                   -1.000000    -1.000000    -1.000000    -1.000000
1시리즈  1시리즈 2세대 (12~19년)   1114.041667   690.375000   328.833333    94.125000
      1시리즈 3세대 (20년~현재)   3379.000000  2972.000000  2565.000000  2158.000000
200   300C 2세대             355.000000     0.000000     0.000000     0.000000
2008  2008                 648.923077   297.076923    76.538462    17.692308
...                               ...          ...          ...          ...
프리우스  프리우스                1074.000000   773.000000   493.500000   343.000000
      프리우스 4세대            2055.500000  1763.500000  1471.500000  1179.500000
플라잉스퍼 플라잉스퍼 1세대           2417.000000   184.000000     0.000000     0.000000
      플라잉스퍼 2세대          10109.000000  8068.000000  6027.000000  3986.000000
휘가로   휘가로                 2452.000000  2404.000000  2356.000000  2308.000000

                         2027년(예상)  2028년(예상)  2029년(예상)  2030년(예상)
모델명   세부모델
124   124                     -1.0       -1.0       -1.0       -1.0
1시리즈  1시리즈 2세대 (12~19년)       15.0        0.0        0.0        0.0
      1시리즈 3세대 (20년~현재)     1751.0     1344.0      948.8      623.2
200   300C 2세대                 0.0        0.0        0.0        0.0
2008  2008                     0.0        0.0        0.0        0.0
...                            ...        ...        ...        ...
프리우스  프리우스                   192.5       42.0        0.0        0.0
      프리우스 4세대               887.5      611.5      465.5      319.5
플라잉스퍼 플라잉스퍼 1세대                0.0        0.0        0.0        0.0
      플라잉스퍼 2세대             1945.0        0.0        0.0        0.0
휘가로   휘가로                   2260.0     2212.0     2164.0     2116.0

[632 rows x 12 columns]

In [50]:
df_model2.to_csv('./model.csv', encoding='cp949')

In [32]:
df['제조회사'].unique()

array(['쌍용', '기아', '쉐보레', '현대', '제네시스', '르노삼성', 'BMW', '지프', '폭스바겐', '미니',
       '아우디', '벤츠', '렉서스', '재규어', '포드', '혼다', '도요타', '랜드로버', '시트로엥',
       '인피니티', '닛산', '링컨', '볼보', '테슬라', '푸조', '포르쉐', '피아트', '마세라티',
       '크라이슬러', '캐딜락', '닷지', '롤스로이스', '람보르기니', '북기은상', '대형트럭(2톤이상)',
       '토요타', '대형버스(16인승이상)', '스마트', '벤틀리', '선롱', '애스턴마틴', '미쯔비시', '험머'],
      dtype=object)

In [41]:
sebu = pd.DataFrame(list(df.groupby(['제조회사','모델명']).mean().index))

In [51]:
sebu.to_csv("./sebu.csv", encoding="cp949")

In [48]:
moya = pd.read_csv('./model.csv')
mogin = pd.read_csv('./sebu.csv')

In [47]:
moya

,모델명,세부모델,가격,신차가격,감가상각률,감가상각액(1년),2023년(예상),2024년(예상),2025년(예상),2026년(예상),2027년(예상),2028년(예상),2029년(예상),2030년(예상)
0,124,124,3580.000000,3100.0,-1.0,-1.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0
1,1시리즈,1시리즈 2세대 (12~19년),1538.041667,4370.0,9.7,424.0,1114.041667,690.375000,328.833333,94.125000,15.0,0.0,0.0,0.0
2,1시리즈,1시리즈 3세대 (20년~현재),3786.000000,4200.0,9.7,407.0,3379.000000,2972.000000,2565.000000,2158.000000,1751.0,1344.0,948.8,623.2
3,200,300C 2세대,1030.000000,5770.0,11.7,675.0,355.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
4,2008,2008,1003.923077,3113.0,11.4,355.0,648.923077,297.076923,76.538462,17.692308,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,프리우스,프리우스,1375.000000,3712.0,8.1,301.0,1074.000000,773.000000,493.500000,343.000000,192.5,42.0,0.0,0.0
628,프리우스,프리우스 4세대,2347.500000,3600.0,8.1,292.0,2055.500000,1763.500000,1471.500000,1179.500000,887.5,611.5,465.5,319.5
629,플라잉스퍼,플라잉스퍼 1세대,4650.000000,29000.0,7.7,2233.0,2417.000000,184.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
630,플라잉스퍼,플라잉스퍼 2세대,12150.000000,26500.0,7.7,2041.0,10109.000000,8068.000000,6027.000000,3986.000000,1945.0,0.0,0.0,0.0
631,휘가로,휘가로,2500.000000,4000.0,1.2,48.0,2452.000000,2404.000000,2356.000000,2308.000000,2260.0,2212.0,2164.0,2116.0

     Unnamed: 0    0     1
0             0  BMW  1시리즈
1             1  BMW  2시리즈
2             2  BMW  3시리즈
3             3  BMW  4시리즈
4             4  BMW  5시리즈
..          ...  ...   ...
315         315   혼다   HRV
316         316   혼다    시빅
317         317   혼다   어코드
318         318   혼다  오딧세이
319         319   혼다   파일럿

[320 rows x 3 columns]